body{
    margin-top: 24px;
    margin-right: 148px;
   margin-bottom: 16px;
   margin-left: 148px;
   
}

ul{
    list-style: none;
    margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   gap: 24px;
  }

.gallery img{
    width: calc((1128px - 48px)/3);
   
  }